@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar {
  /* For Internet Explorer, Edge */
  -ms-overflow-style: none;
  /* For Firefox */
  scrollbar-width: none;
}

/* For Chrome, Safari, Opera, etc. */
.hide-scrollbar::-webkit-scrollbar {
  width: 0px;
  display: none;
  background: transparent;
}
.hide-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.hide-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
}
